.apercuFontRegular{
 font-family: var(--font-apercu);
 font-weight: 500;
}
.apercuFontBold{
 font-family: var(--font-apercu);
 font-weight: 700;
}
.apercuFontMedium{
 font-family: var(--font-apercu);
 font-weight: 600;
}